{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-sm-12 justify-text mt-5 shadow-lg p-5 white">
            <h1>{{ page.title }}</h1>
            <i>{{ page.date }}</i>
            {{ page.intro|richtext }}
            {{ page.body }}
            <p><a href="{{ page.get_parent.url }}" class="btn custom-btn">Retour</a></p>


        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-sm-12 justify-text mt-5 shadow-lg p-5 white">
            {% with tags=page.tags.all %}
            {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                    <button type="button">{{ tag }}</button>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% if comments %}
<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-sm-12 justify-text mt-5 shadow-lg p-5 white">
            {% for comment in comments %}
            <p>{{ comment.user }}</p>
            <p>{{ comment.text }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-sm-12 justify-text mt-5 shadow-lg p-5 white">
            <form method="post" action="{% pageurl page %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Envoyer">

            </form>
        </div>
    </div>
</div>




<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-sm-12 justify-text mt-5 shadow-lg p-5 white">
            <p>{{ page.advert.name }}</p>
            <p>{{ page.advert.url }}</p>
            <p>{{ page.advert.text }}</p>
        </div>
    </div>
</div>
{% endblock %}